<div class="container">

    <div class="header">
      <h1>Average Salary</h1>
      <div class="center">
        <div class="search">
          <input type="text" #searchBox (keyup.enter)="search(searchBox.value)" placeholder="Введите профессию">
          <button (click)="search(searchBox.value)"></button>
        </div>
      </div>
    </div>

    <div class="no-professsion-message" *ngIf="showNoProfesssionMessage">К сожалению, ваканский по вашему запросу нет. Попробуйте указать другую профессию.</div>
    <div class="analytics" *ngIf="showAnalytics">
      <div class="columns">
          <div class="min-block">
              <p class="salary">{{ minSalary | salary }}</p>
              <p class="analytics-text">Минимум</p>
          </div>
          <div class="average-block">
            <div class="block">
              <p class="salary">{{ medianSalary?.from | salary }} - {{ medianSalary?.to | salary }}</p>
              <p class="analytics-text">Медиана</p>
            </div>
            <div class="block">
              <p class="salary">{{ averageSalary?.from | salary }} - {{ averageSalary?.to | salary }}</p>
              <p class="analytics-text">Среднее арифметическое</p>
            </div>
          </div>
          <div class="max-block">
              <p class="salary">{{ maxSalary | salary }}</p>
              <p class="analytics-text">Максимум</p>
          </div>
      </div>
      <p>
        Рассчитано на основе {{ count }} доступных вакансий для г. Томска:
      </p>
    </div>

    <div class="list" *ngIf="showAnalytics">
      <div *ngFor="let v of vacancies" class="item">
        {{ v.name }}
      </div>
    </div>


    <div class="footer">
      <p>Powered by:</p><img src="/assets/min-hh-red.png">
    </div>

</div>
